<div class="demo-wrap">
  <img class="demo-bg" src="https://images.unsplash.com/photo-1562408590-e32931084e23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="">
  <div class="form-container">
<div class="demo-content">
    <h1>New Robot</h1>
        <%= render 'form', robot: @robot %>
  </div>
  </div>
</div>
<style>
.demo-wrap {
  overflow: hidden;
  position: relative;
  }

  .demo-bg {
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .demo-content {
    position: relative;
    background-color: white;
    padding: 6%;
    border-radius: 3%;
  }

.create-buttons {
  display: flex;
  justify-content: space-between;
}



  /* body {
      background-image: url('https://images.unsplash.com/photo-1562408590-e32931084e23?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
      background-size: cover;
      background-repeat: no-repeat;
  } */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: grid;
    grid-gap: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }

  .actions a {
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 4px;
    text-decoration: none;
    color: ##FF5B27;
    text-align: center;
  }
</style>
