<!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="container">
      <h1>A mechanical helping hand.</h1>
      <p>Our robot companions are happy to help, no matter the task.<br>
        From butlers to gardeners, BotHub has got you covered.<br> </p>
      <%= link_to "Browse robots", robots_path, class: "button" %>
    </div>
  </div>

  <!-- code a "Card" section -->
  <div class="container">
    <h2 class="text-center" style="padding-top: 15px; padding-bottom: 15px;">How it works</h2>
    <div class="cards">

      <div class="card">
        <%= image_tag('how-it-works landing card (5).png') %>
        <h4>Book</h4>
        <p>Bot will be delivered by drone.</p>
      </div>

      <div class="card">
        <%= image_tag('how-it-works landing card (4).png') %>
        <h4>Activate</h4>
        <p>Set the Bot to start the task.</p>
      </div>

      <div class="card">
        <%= image_tag('how-it-works landing card (3).png') %>
        <h4>Return</h4>
        <p>Drone pickup from your location.</p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="https://github.com/Stefan9326/bothub" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/Stefan9326/bothub" target="_blank"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://github.com/Stefan9326/bothub" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="https://github.com/Stefan9326/bothub" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
    </div>
  </div>
