.stimulus-connected button.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.stimulus-connected button.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
