.btn-primary {
  display: inline-block;
  background-color: #FF5B27;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.btn-secondary {
  border: 1px solid #FF5B27;
  padding: 8px 16px;
  border-radius: 50px;
  color: #FF5B27;
}
