.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;

  .navbar-brand {
    font-size: 2.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;

    .hub-word {
      color: #FF5B27
    }

    img {
      width: 44px;
    }
  }
}

.navbar .container-fluid {
  width: 65px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#navbarDropdown {
  margin: -11px !important;
  width: 32px;
}

.gears {
  position: absolute;
  left: 218px;
  top: 8px;
}
