
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Components
@import "components/banner";
@import "components/buttons";
@import "components/cards";
@import "components/container";
@import "components/footer";
@import "components/logo";
@import "components/navbar";
@import "components/images";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 80px;
  background-image: url('https://images.unsplash.com/photo-1536933742725-4e11180a9b9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

// move this
.page-title {
  letter-spacing: 10px;
  font-weight: 600;
  color: #FF5B27;
  margin-left: 50px;
}
